##########################################
# Игнорировать всё, кроме docs/ и README.md
##########################################

# По умолчанию — игнор всего
*

# Но оставить эти файлы/папки под контролем git
!.gitignore
!/README.md
!/docs/
!docs/**
